{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        Justin Photography
    </title>
</head>
<link rel="Stylesheet" href="{% static 'layout2.css' %}">

<link rel="Stylesheet" href="{% static 'video.css' %}">

<body>
    <div>
        <ul id="firstthree">
            <h4 id="a">
                <a href="{% url 'index' %}" style="text-decoration: none;">HOME</a>
            </h4>
            <h4 id="b">
                <a href="{% url 'portfolio' %}" style="text-decoration: none;">PORTFOLIO</a>
            </h4>
            <h4 id="c">
                <a href="#" style="text-decoration: none;">ABOUT US</a>
            </h4>
        </ul>
    </div>
    <div>
        <ul id="logo">
            <a href="{% url 'video' %}" style="text-decoration: none;"><img src={% static 'logo.png'%} width="430" height="430"></a>
        </ul>
    </div>
    <div>
        <ul id="lastthree">
            <h4 id="d">
                <a href="{% url 'cart' %}" style="text-decoration: none;">STORE</a>
            </h4>
            <h4 id="e">
                <a href="#" style="text-decoration: none;">CONTACT</a>
            </h4>
            <h4 id="f">
                <a href="#" style="text-decoration: none;">ACCOUNT</a>
            </h4>
        </ul>
    </div>
    {% block body %} {%endblock%}

</body>

</html>