 {% extends "base.html" %}{% load cart %} {% load static %} {% block menu %}
<div>
    <ul id="firstthree">
        <h4 id="a">
            <a class="text-dark" href="{% url 'index' %}" style="text-decoration: none;">HOME</a>
        </h4>
        <h4 id="b">
            <div class="dropdown">
                <a href="{% url 'portfolio' %}" style="text-decoration: none;width:50px;height:300px;margin-bottom:200px;padding-bottom:100px;color:black;">PORTFOLIO</a>
                <div class="dropdown-content">
                    <a href="{% url 'portfolio' %}">PHOTOGRAPHY</a>
                    <a href="{% url 'video' %}">VIDEOGRAPHY</a>
                </div>
            </div>
        </h4>
        <h4 id="c">
            <a class="text-dark" href="{% url 'aboutus' %}" style="text-decoration: none;">ABOUT US</a>
        </h4>
    </ul>
</div>
<div>
    <ul id="logo">
        <a href="{% url 'index' %}" style="text-decoration: none;"><img src="{%  static  'css/Images/logo.png'  %}" width="430" height="430"></a>
    </ul>
</div>
<div class="ml-1">
    <ul id="lastthree">
        <h4 id="d">
            <a class="text-dark" href="{% url 'cart' %}" style="text-decoration: none;">STORE</a>
        </h4>
        <h4 id="e">
            <a class="text-dark" href="{% url 'contact' %}" style="text-decoration: none;">CONTACT</a>
        </h4>
        <h4 id="f">
            <a class="text-dark" href="{% url 'login' %}" style="text-decoration: none;">ACCOUNT</a>
        </h4>
    </ul>
</div>

<div id="img1">
    <img src="{%  static  'css/Images/c1.png'  %}" width="450px" height="400px">
</div>
<div id="img2">
    <img src="{%  static  'css/Images/c6.png'  %}" width="350px" height="350px">
</div>
<div id="img3">
    <img src="{%  static  'css/Images/c3.png'  %}" width="300px" height="280px">
</div>

<div id="img5">
    <img src="{%  static  'css/Images/c5.png'  %}" width="340px" height="340px">
</div>


<div id="text">
    <h1 class="font-weight-bold">ENJOY ONLINE</h1>
    <h1 id="s" class="font-weight-bold">SHOPPING</h1>
    <P>Online shopping like never before! Get the latest trends ruling the charts<br>in India. With the most fashionable range of T-shirt,Pillow,Mugs, and more<br> for Men Women and all . Place Your Order Today! Add Some Affordable,<br> Stylish Accessories
        to Your Fashion Collection. Shop with Us Today. </P>
</div>
<a class="ca3-scroll-down-link ca3-scroll-down-arrow"></a>
<div id="bottom"></div>
{% endblock %}

<! -- Below is Shoping cart  -->

{% block content %}
<!--To Show the Filter or Category Option -->
<div class="filter">
    <div class="list-group">
        <a href="/cart" class="list-group-item list-group-action">All Products</a> {% for category in categories%}
        <a href="?category={{category.id}}" class="list-group-item list-group-action">{{category.name}}</a> {% endfor%}
    </div>

</div>
<!-- To Show the product Products  -->

<div class="main">
    {% for product in products %}
    <div id="{{product.id}}" class="p1" style="width: 18rem;">
        <img src="{{product.image.url}}" alt="...">
        <div class="con">
            <p class="name">{{product.name}}</p>
            <p class="price"><b>{{product.price}}₹</b></p>
            <p class="dis">{{product.short_description}}</p>
        </div>
        <div id="add">
            {% if product|is_in_cart:request.session.cart %}
            <div class="adjust">
                <form action="/cart#{{product.id}}" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name="product" value="{{product.id}}">
                    <input hidden type="text" name="remove" value="True">
                    <input class="min" type="submit" value=" - ">
                </form>
                <div class="des">{{product|cart_quantity:request.session.cart}}in cart</div>
                <form action="/cart#{{product.id}}" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name="product" value="{{product.id}}">
                    <input class="max" type="submit" value=" + ">
                </form>
            </div>
            {% else %}
            <form action="/cart#{{product.id}}" method="POST">
                {% csrf_token %}
                <input hidden type="text" name="product" value="{{product.id}}">
                <input type="submit" class="buttona" value="Add To Cart">
            </form>
            {% endif %}
            <a href="{% url 'particular' product.id %}"><input type="submit" class="buttonb" value="View More"></a>


        </div>

    </div>
</div>

{% endfor %}
</div>
</div>
</div>
</div>
<div id="bs">

</div>
{% endblock %}